astroid==2.4.2
attrs==19.3.0
backcall==0.2.0
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.1
decorator==4.4.2
flake8==3.8.3
flake8-polyfill==1.0.2
future==0.18.2
idna==2.9
invoke==1.4.1
ipython==7.15.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
lazy-object-proxy==1.4.3
mando==0.6.4
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.18.5
opencv-python==4.2.0.34
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.2
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
PyYAML==5.3.1
radon==4.1.0
requests==2.23.0
scipy==1.4.1
six==1.15.0
toml==0.10.1
tqdm==4.46.1
traitlets==4.3.3
urllib3==1.25.9
visual-logging==1.0
wcwidth==0.2.4
wrapt==1.12.1
xenon==0.7.0
